extends ./layout.jade
block BodyContent
  h1
    | Termibox Manual
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js')

  .container
    .row      
      .col-lg-3.col-md-12.text-center
        .service-box
          h3 cat ELEMENT | ID | . | ''
          p.text-muted Displays html content of first occurrence of ELEMENT if provided. If ID provided, dispaly html content of element with id ID. If '.' or '' provided, display html content of page.