extends ./layout.jade
block BodyContent
  h1
    | Termibox Manual
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js')
  - var command = {'name':'ls <PATH>','description':"List all links in page indicated by PATH. If PATH is not indicated, list all links on the page."};
  
  ul
    li
      strong #{cmd_name}
        h3
          p #{cmd_desc}