extends ./layout.jade
block BodyContent
    section#about.bg-primary
      .container
        .row
          .col-lg-8.col-lg-12.text-center
            h2.section-heading Welcome to Termibox!
            hr.light
            p.text-faded
              | Welcome to Termibox! Here you can read descriptions for each of the Termibox commands
    section#manual
      .container
          .row
            .col-lg-12.text-center
              h2.section-heading Command Manual
              hr.primary
          .row
            .col-lg-3.col-md-12.text-center
            .service-box
                h3 ls PATH
                p.text-muted List all links in page indicated by PATH. If PATH is not indicated, list all links on the page.
          .row  
            .col-lg-3.col-md-12.text-center
            .service-box
              h3 cd PATH
              p.text-muted Navigate to the webopage indicated by PATH. If PATH is relative,  navigate to relative path. If PATH is not indicated, navigate to HOME_PAGE set via export command.
          .row  
            .col-lg-3.col-md-12.text-center
            .service-box
              h3 export VAR_NAME=VAR_VALUE
              p.text-muted Set VAR_NAME to VAR_VALUE.
          .row      
            .col-lg-3.col-md-12.text-center
            .service-box
              h3 alias EXISTING_COMMAND NEW_COMMAND
              p.text-muted Set NEW_COMMAND to have identical functionality as EXISTING_COMMAND.
          .row      
            .col-lg-3.col-md-12.text-center
            .service-box
              h3 echo TEXT
              p.text-muted Display TEXT in pop-up.
          .row      
            .col-lg-3.col-md-12.text-center
            .service-box
              h3 man COMMAND
              p.text-muted Redirect user to manual page. If COMMAND is provided, redirect user to manual page for COMMAND.
          .row      
            .col-lg-3.col-md-12.text-center
            .service-box
              h3 cat ELEMENT | ID | . | ''
              p.text-muted Displays html content of first occurrence of ELEMENT if provided. If ID provided, dispaly html content of element with id ID. If '.' or '' provided, display html content of page.
          .row      
            .col-lg-3.col-md-12.text-center
            .service-box
              h3 grep TOKEN
              p.text-muted Creates and downloads a database of images about TOKEN.
    
    // jQuery
    script(src='/static/vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/static/vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='/static/vendor/scrollreveal/scrollreveal.min.js')
    script(src='/static/vendor/magnific-popup/jquery.magnific-popup.min.js')
    // Theme JavaScript
    script(src='js/creative.min.js')
